<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
		<div class="form-area">
			<h3>Update your Event</h3>
			<%= form_for @event, html: { multipart: true } do |f| %>
				
				<div class="form-group">
					<%= f.label :image %>
					<%= f.file_field :image %>
				</div>

				<div class="form-group">
					<%= f.label :title, "Title of the event" %>
					<%= f.text_area :title, rows: 1, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :date %>
					<%= f.text_field :date, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :time, "Start Time" %>
					<%= f.text_field :time, class: "form-control" %>

				<br>

				<div class="form-group">
					<%= f.label :body, "Include all the details about your event here." %>
					<%= f.text_area :body, rows: 10, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :category_id %>
					<%= f.select(:category_id, Category.all.map{ |f| [f.name, f.id] }, {}, { class: "form-control", id: "select" }) %>
				</div>
				<%= f.submit class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
  </div>
</div> <!-- .container -->


